:root{
  --primary: #9be682;
  --secundary: #b8e8a8;
}

.body{
  background: linear-gradient(180deg, #14f15e, #1262cc7e, #14f15e);
  background-size: 150% 150%;
  animation: gradient-animation 5s ease infinite;
}
@keyframes gradient-animation {
  0% {
    background-position: 0% 50%; 
  }
  50% {
    background-position: 50% 100%; 
  }
  100% {
    background-position: 0% 50%; 
  }
}
.editor-container {
  width: 500px;
  padding-top: 25px;;
  margin: auto;
  
}

.editor-bar {
  width: 480px;
  background-color: var(--primary);
  padding: 10px;
  border-top: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
}

.text-style, .icon{
  background-color: var(--primary);
}

.text-area {
  height: 200px;
  width: 496px;
  border: 1px solid black;
  background-color: var(--secundary);
  resize: none;
}
::-webkit-scrollbar {
  width: 0px;
}
.preview-container {
  width: 800px;
  margin: auto;
  margin-top: 30px;
  padding-bottom: 30px;
}



.preview-bar {
  width: 780px;
  background-color:var(--primary);
  padding: 15px 30px;
  border-top: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
  
}

.preview-text-area {
  min-height: 200px;
  width: 800px;
  border: 1px solid black;
  background-color: var(--secundary);
  resize: none;
  padding: 20px;
  
}
.preview-text-area *{
  background-color: var(--secundary);
}

.text-style {
  margin: 0;
}

#preview img {
  max-width: 100%;
  height: auto;
}
